/* ---BREAKPOINT-550 (max-width: 550px); */

/* body {
  background-color: lightpink;
  width: 100%;
} */

/* ------------------------------------- */

#main h2 {
  padding: 0;
}
/* ---HEADER------------------ */
#header .hidden-550 {
  display: none;
}
/* ---TOP--- */
/* -User- */
#header-top .bp-975 .logo img {
  width: 150px;
}
#header-top .bp-975 .menu-svg {
  color: var(--white);
  height: 16px;
  width: 16px;
  margin-left: 10px;
}
#header-top .connect {
  right: 50px;
}
#header-top .bp-550 {
  display: inline;
  font-weight: bold;
}
#header-top .bp-550 p {
  font-size: 16px;
}
#header-top .connectedUser {
  height: 40px;
  width: 40px;
  flex-direction: column;
  gap: 2px;
  padding: 0 0 5px 0;
}
#header-top .deconnection {
  height: 10px;
  margin-left: unset;
}
/* -Translate- */

#header .flag-language {
  border: none;
  margin: 5px;
  padding: unset;
}
#header .flag-language img {
  height: 12px;
}

/* ---FOOTER------------------ */
#footer {
  padding: 20px 0;
  max-width: 100vw;
}
#footer .container {
  flex-direction: column;
}
#footer p {
  font-size: 12px;
}
#footer h3 {
  font-size: 14px;
  margin-bottom: 20px;
}
#footer button {
  font-size: 12px;
  padding: 3px 15px;
  letter-spacing: 0.5px;
}
/* ---TOP--- */

#footer-top .container > div {
  min-height: fit-content;
  max-width: 100%;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
#footer-top .container > div:not(:last-of-type) {
  width: 100%;
  border-bottom: 1px solid var(--border-grey);
}
#footer-top .container .div-border1 {
  border-right: unset;
}
#footer-top h3 {
  margin-top: 10px;
}

/* ---BOTTOM--- */
#footer-bottom .first-div {
  flex-wrap: wrap;
}
#footer-bottom p {
  flex-shrink: 0;
}
#footer-bottom .first-div {
  justify-content: flex-start;
  line-height: 18px;
}
/* ---HOMEVIEW---------------- */

#main-homeview .navigation .guinness {
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
}

/* ---CELEBRITY-COMMENT--- */

#div-celebrity .img1 {
  height: 220px;
}
#div-celebrity svg {
  font-size: 30px;
  color: var(--grey);
}

#div-celebrity .absolute-name h3 {
  font-size: 38px;
}
#div-celebrity .absolute-name h4 {
  font-size: 12px;
}
#div-celebrity .caroussel-big {
  height: 380px;
}
#div-celebrity .absolute-name {
  width: fit-content;
  height: fit-content;
  top: 220px;
  right: 30px;
}
#div-celebrity .caroussel-small-picture p {
  font-size: 10px;
  line-height: 12px;
}
/* ---BOOKINGVIEW------------- */

#main-booking .booking-button {
  margin-bottom: 20px;
  font-size: 12px;
}
#main-booking a {
  font-size: 16px;
  line-height: 26px;
}
#main-booking .container {
  padding: 10px;
}

/* ---BOOKINGFORM-VIEW-------- */
#main-form {
  padding: unset;
}
#main-form .container {
  padding: 10px;
}
#main-form .logo img {
  width: 100%;
}
#main-form form {
  max-height: 800px;
}
#main-form .display-section {
  flex-direction: column;
}
#main-form .person > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
/* ---PAYMENTVIEW------------- */
#main-payment .container {
  padding: 10px;
}
#main-payment .container > div {
  padding: 0 0 10px 0;
  height: fit-content;
}
#main-payment section {
  margin: 10px;
}
#main-payment h1 {
  font-size: 30px;
  line-height: 30px;
  padding: 10px 0;
  margin: 10px 0;
}
#main-payment h3 {
  font-size: 20px;
}
#main-payment span {
  font-size: 14px;
}
#main-payment .infos-booking {
  padding: unset;
}
#main-payment .amount {
  margin: 20px 0;
}
#main-payment .success-payment {
  max-height: 500px;
  max-width: 100vw;
  padding: 10px;
  gap: 5px;
  font-size: 14px;
}
#main-payment .logo img {
  width: 100%;
}
/* ---LOGINVIEW--------------- */

#main-login .div-input input {
  height: 50px;
}
#main-login button {
  padding: 15px;
}
/* ---SIGNUPVIEW-------------- */

#main-signup form {
  margin: unset;
}
#main-signup .div-input input {
  height: 50px;
}
#main-signup button {
  padding: 15px;
}
/* ---AMBIENCESVIEW----------- */
/* nothing */

/* ---PICTURESVIEW------------ */

#main-pictures .pictures {
  max-height: fit-content;
}
#main-pictures .pictures > div {
  width: 300px;
  margin: 0 auto;
}
#main-pictures h3 {
  font-size: 13px;
}
#main-pictures .title > div {
  padding: 10px 16px;
}
/* ---COMMENTSVIEW------------ */

#main-comments .div-guides {
  width: 100%;
  max-height: fit-content;
}
#main-comments .div-guides > div {
  width: 300px;
  margin: 0 auto;
}
/* ---EXPERIENCESVIEW--------- */
/* nothing */

/* ---GUINNESSVIEW------------ */

#main-guinness .cheesesList {
  max-height: 1700px;
}
#main-guinness h3 {
  font-size: 13px;
}

/* ---INFOSVIEW--------------- */
/* nothing */
