@import './base.css';

* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --light-mustard: #fbe9c2;
  --mustard: #c89d3e;
  --orange: #d36700;
  --orange-button: #d2691e;
  --green: #25a073;
  --grey-green: #2f4f4f;
  --light-grey: #cececf;
  --border-grey: #333;
  --middle-grey: #a3a2a2;
  --grey: #666666;
  --black: #010101;
  --header-top-height: 70px;
  --header-bottom-height: 138px;
}

body {
  font-family: 'BrandonGrotesqueBold', sans-serif;
  font-size: 14px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  /* border: 1px solid green; */
}

main {
  margin-top: calc(var(--header-top-height) + var(--header-bottom-height));
  min-height: 100vh;
}

h1 {
  font-family: 'ThirstyRoughRegular', serif;
  font-size: 58px;
  line-height: 88px;
  color: var(--grey);
  padding: 20px 0px;
  margin: 15px 0px;
  border-bottom: 1px solid var(--light-grey);
}

h2 {
  font-size: 25px;
  letter-spacing: 3px;
  line-height: 50px;
  color: var(--orange);
  border-bottom: 1px solid var(--light-grey);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

/* ---loading-page-------- */

main > div > .loading {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 50px;
  color: var(--orange);
}
